.index {
  width: 48px;
  height: 48px;
  color: white;
  display: flex;
  font-size: 20px;
  margin-top: 8px;
  background: blue;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.story-wrapper {
  justify-content: center;
}

.title {
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

.title:hover {
  text-decoration: underline;
}

.data-container {
  width: 1000px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background: rgb(236, 232, 232);
}

.comment-text {
  font-weight: bold;
  font-size: 24px;
  margin-left: 40px;
}

.comments-wrapper {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.comment-toggle {
  display: flex;
  cursor: pointer;
  justify-content: end;
}

.comment-toggle:hover {
  font-weight: bold;
}

.toggle-text {
  padding: 6px;
  color: white;
  background: green;
  border-radius: 8px;
}

.no-comment {
  color: gray;
}
