.data-container {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background: rgb(236, 232, 232);
}

.title {
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

.date {
  text-align: left;
  font-weight: 350;
}

.name-score {
  text-align: left;
  font-weight: 400;
}

.score {
  margin-left: 16px;
}

.index {
  width: 48px;
  height: 48px;
  color: white;
  display: flex;
  font-size: 20px;
  margin-top: 8px;
  background: blue;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
